@font-face {
    font-family: 'Shtark 2024 Triple';
    src: url('/shtark2024/triple.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Shtark 2024 Double';
    src: url('/shtark2024/double.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Shtark 2024 Single';
    src: url('/shtark2024/single.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

